﻿@model WebApplication1.ViewModel.BMIData3
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("Index")">
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(m => m.Height)<br />
    
    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight) 公斤
    @Html.ValidationMessageFor(m => m.Weight)<br />
    <input type="submit value="送出">
</form>
<br />

計算結果： @Model.BMI <br />
等級： @Model.Level

